<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
    <add key="DependencyVersion" value="Highest" />
  </solution>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget.ageron.info" value="http://nuget.ageron.info/nuget" />	
    <add key="work.nuget.ageron.info" value="http://work.nuget.ageron.info/nuget" />	
    <!--add key="work.nuget.domain.local" value="http://work.nuget.domain.local/nuget" /-->	
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>